<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxsh.elasticsearch.mapper.CommonMapper">
	<select id="max" resultType="Object">
        SELECT MAX(${key})
        FROM ${table}
        <if test="cond != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <select id="min" resultType="Object">
        SELECT Min(${key})
        FROM ${table}
        <if test="cond != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    
    <select id="maxTime" resultType="java.util.Date">
        SELECT MAX(${key})
        FROM ${table}
        <if test="cond != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <select id="minTime" resultType="java.util.Date">
        SELECT Min(${key})
        FROM ${table}
        <if test="cond != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    
   <select id="sum" resultType="Object">
        SELECT SUM(${key})
        FROM ${table}
        <if test="cond != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="cond.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

</mapper>